@use "sass:color";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

// MAIN COLORS
$primaryColor: #111827;
$complementaryColor: #f9fafb;
$highlightColor: #d1d5db;
$brandColor: #4338ca;
$brandSkewColor: #818cf8;
$dangerColor: #7f1d1d;
$dangerHighlight: #be123c;

// WORDLE/CODLE COLORS
$codle-textColor: #FFFFFF;
$codle-bgColor: rgb(18, 18, 19);
$codle-baseColor: rgb(86, 87, 88);
$codle-successColor: rgb(83, 141, 78);
$codle-presentColor: rgb(181, 159, 59);

// WORDLE/CODLE TYPOGRAPHY
$codle-font: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;

// MIXIN: Set text color dynamically
@mixin setBackground($color) {
  background-color: $color;
  color: set-text-color($color);
}
// FUNCTIONS
@function set-text-color($color){
  @if(color.channel($color, "lightness", $space: hsl) > 70) { 
    @return $complementaryColor; 
  } @else {
    @return $primaryColor;
  }
}